<ng-container>
  <div style="margin-top: 10px">
    <table class="table table-success table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Основы программирования</th>
          <th>Дискретная математика</th>
          <th>ООП</th>
          <th>Веб-программирование</th>
          <th>Иностранный язык</th>
          <th>НИР</th>
          <th>Дипломная работа</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Григорьева А. Ю.</th>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Овчинников М. О.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Поляков Д. А.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Смирнова М. С.</th>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Терехова А. А.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Федотов М. В.</th>
          <td>5</td>
          <td>5</td>
          <td>3</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Чернова В. С.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Янов Д. К.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Янов Г. К.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
