<div class="error-container">
    <div class="text-section">
      <a class="link">401 ОШИБКА</a>
      <h1>Доступ запрещен</h1>
      <p>
        У вас нет прав на просмотр этого раздела
      </p>
      <a class="link" (click)="goBack()" role="button">Назад →</a>
      <a class="link" routerLink="/" role="button">На главную →</a>
    </div>
    <div class="image-section">
      <img
        src="https://evo-academy.wckz.dev/assets/image/image_404.png"
        alt="404 Image"
      />
    </div>
  </div>
  