<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <img src="https://static.tildacdn.com/tild3663-3237-4063-b031-363163323230/_.png" alt="" class="w-25">
        <span class="display-1 d-block">Доступ запрещен</span>
        <div class="mb-4 lead">
          Доступ в раздел закрыт, так ваша роль "Пользователь". Смените роль на
          "Администратор" для редактирования поста
        </div>
        <button routerLink="/" class="btn btn-dark">На главную</button>
      </div>
    </div>
  </div>
</div>
