<ng-container>
  <div style="margin-top: 10px">
    <table class="table table-success table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Основы программирования</th>
          <th>Дискретная математика</th>
          <th>ООП</th>
          <th>Веб-программирование</th>
          <th>Иностранный язык</th>
          <th>НИР</th>
          <th>Дипломная работа</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Александров А. Э.</th>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Голованов С. В.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Гусева А. Д.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Лазарева Т. А.</th>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Новикова М. Д.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Полякова В. А.</th>
          <td>5</td>
          <td>5</td>
          <td>3</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Симонов Л. К.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Сергеева У. Л.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Широкова Г. Д.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
