<div class="error-container">
  <div class="text-section">
    <a class="link">404 ОШИБКА</a>
    <h1>Страница не найдена</h1>
    <p>
      Извините, но страница, на которую вы пытаетесь перейти, не существует.
    </p>
    <a class="link" (click)="goBack()" role="button">Назад →</a>
    <a class="link" routerLink="/" role="button">На главную →</a>
  </div>
  <div class="image-section">
    <img
      src="https://evo-academy.wckz.dev/assets/image/image_404.png"
      alt="404 Image"
    />
  </div>
</div>
