<h1 class="mx-3">Практическое задание 13: HttpInterceptors</h1>
<hr />
<div class="conteiner lh-1 mx-3">
  <p>Вывод результата с сервера в корневой шаблон:</p>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th>№</th>
        <th>Ключ</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users | keyvalue; index as i">
      <tr>
        <th>{{ i + 1 }}</th>
        <td>{{ user.key }}</td>
        <td>{{ user.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<div class="mx-3">
  <p>Вывод результа получения данных из сервера в консоль (См. консоль).</p>
</div>
