<h1>Практическое задание 12: HttpClient</h1>
<hr />
<div class="conteiner">
  <button
    type="button"
    class="btn btn-success d-block mb-2 mx-1"
    style="width: 150px"
    (click)="button1()"
  >
    GET-запрос 1
  </button>
  <button
    type="button"
    class="btn btn-success d-block mb-2 mx-1"
    style="width: 150px"
    (click)="button2()"
  >
    GET-запрос 2
  </button>
  <button
    type="button"
    class="btn btn-info d-block mb-2 mx-1"
    style="width: 150px"
    (click)="button3()"
  >
    POST-запрос 3
  </button>
  <button
    type="button"
    class="btn btn-success d-block mb-2 mx-1"
    style="width: 150px"
    (click)="button4()"
  >
    GET-запрос 4
  </button>
  <button
    type="button"
    class="btn btn-success d-block mb-2 mx-1"
    style="width: 150px"
    (click)="button5()"
  >
    GET-запрос 5
  </button>
  <button
    type="button"
    class="btn btn-danger d-block mb-2 mx-1"
    style="width: 150px"
    (click)="button6()"
  >
    DELETE-запрос 6
  </button>
  <hr>
  <a
    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-1"
    routerLink="/resolve"
    >Route Resolve</a
  >
</div>
<router-outlet></router-outlet>
