<ng-container>
  <div style="margin-top: 10px">
    <table class="table table-success table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Основы программирования</th>
          <th>Дискретная математика</th>
          <th>ООП</th>
          <th>Веб-программирование</th>
          <th>Иностранный язык</th>
          <th>НИР</th>
          <th>Дипломная работа</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Андреев К. А.</th>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Володин А. П.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Ведянин Н. Д.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Гришин В. Д.</th>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Дадин А. О.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Евдокимов С. И.</th>
          <td>5</td>
          <td>5</td>
          <td>3</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Игонин А. В.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Калинин Д. П.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
