<ng-container>
  <div style="margin-top: 10px">
    <table class="table table-success table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Основы программирования</th>
          <th>Дискретная математика</th>
          <th>ООП</th>
          <th>Веб-программирование</th>
          <th>Иностранный язык</th>
          <th>НИР</th>
          <th>Дипломная работа</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Барсуков А. А.</th>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Волков А. Д.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Исаев М. Р.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
          <td>3</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Казакова Е. Н.</th>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Петров Д. Я.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Савельев А. М.</th>
          <td>5</td>
          <td>5</td>
          <td>3</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Симонов Л. К.</th>
          <td>5</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Калинин Д. у.</th>
          <td>3</td>
          <td>3</td>
          <td>4</td>
          <td>3</td>
          <td>5</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <th>Широкова А. Е.</th>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
